*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
  text-transform: uppercase;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(247, 202, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  background: rgb(1, 1, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  background: rgb(96, 95, 95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h4 {
  text-align: center;
  margin-bottom: 30px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.form_container {
  position: relative;
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #800080;
  z-index: -1;
}

.form_container::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #e6a454;
  z-index: -1;
}

.form_container>h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgba(0, 212, 255, 1);
}

.form_container>form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  background-color: #f0f0f0;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  outline: none;
}

.form_container select {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container select::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgb(232, 177, 83);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.3rem;
}

span a {
  text-decoration: none;
  color: rgba(0, 212, 255, 1);
}

.home_page {
  height: 100vh;
  width: 100vw;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.home_page span {
  color: rgba(0, 212, 255, 1);
}

.home_page button {
  background-color: rgb(27, 73, 83);
  color: #fff;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: none;
}

.home_page button:hover {
  background-color: rgba(0, 212, 255, 1);
}


@media only screen and (max-width: 1200px) {
  .home_page {
    font-size: 1.5rem;
  }

  .home_page button {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
}